@tailwind base;
@tailwind components;
@tailwind utilities;

[lang="ar"] {
  @apply font-arabic leading-10;
  direction: rtl;
}
[lang="en-US"] {
  @apply font-english;
  direction: ltr;
}

:root {
  --header-height: 60px;
  --mobile-header-height: 60px;
  --top-bar-height: 70px;
}

body {
  @apply bg-[#ffffff] max-lg:mt-[var(--mobile-header-height)] lg:mt-[calc(var(--header-height)+var(--top-bar-height))];
}

body.scroll header {
  @apply lg:-translate-y-[var(--top-bar-height)];
}

body.scroll #top-header {
  @apply lg:h-[var(--mobile-header-height)];
}
body.scroll #header-logo {
  @apply lg:w-[200px];
}

body.scroll #language-picker {
  @apply lg:block;
}

main {
  @apply lg:py-20 max-lg:py-10;
}

a:hover:not(#main-menu a):not(#side-menu a):not(.wpml-ls a):not(
    #footer-menu a
  ) {
  @apply hover:text-primary;
}

.readex-pro {
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}

.separator {
  height: 20px;
  width: 1px;
  background-color: #dedede;
}
.hamburger {
  @apply flex flex-col justify-center items-center gap-[3px] max-lg:h-full max-lg:w-[60px] lg:h-[40px] lg:w-[40px] lg:rounded-full bg-white;
}

.hamburger:hover {
  background-color: white;
}

.hamburger span {
  @apply bg-primary;
  height: 3px;
  width: 20px;
}

.hamburger:hover {
  @apply hover:opacity-90;
}

#main-menu {
  @apply text-white w-full flex justify-start gap-10;
}
#main-menu > li {
  @apply relative text-center border-l border-white pt-5 pl-2;
}

.section-title {
  @apply capitalize font-bold mb-5 text-3xl;
}

.section-title::before {
  @apply content-[''] block w-[45px] h-[10px] bg-primary mb-1;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(1, 16, 17, 0) 29.21%,
    #011011 110.14%
  );
}

.thumb img {
  transition: transform 0.4s ease-out;
}
.thumb:hover img {
  transform: scale(1.05);
}
.s-button {
  width: 100%;
  text-align: center;
  padding: 8px 18px;
  text-transform: uppercase;
  border-width: 1px;
}
.calendar-container {
  @apply max-xl:min-h-[400px] xl:min-h-[450px];
  background-color: transparent;
  border: 1px solid #707778;
  padding: 30px;
  text-align: center;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.arrow {
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.month-year {
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #888;
  margin-bottom: 10px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-body.months-grid {
  grid-template-columns: repeat(4, 1fr);
}

.calendar-body.years-grid {
  grid-template-columns: repeat(6, 1fr);
}

.day {
  @apply max-xl:w-[30px] xl:w-[40px];
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
}

.day:hover {
  background-color: #707778;
  color: #1f0000;
}

.event-day::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 5px;
  height: 5px;
  background-color: red; /* Dot color */
  border-radius: 50%;
}

.year,
.month {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.year:hover,
.month:hover {
  background-color: #444;
}

/* Highlight the current day in red */
.current-day {
  background-color: red;
  color: white;
}

button.calendar {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button.calendar:hover {
  background-color: #444;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

body.open #side-menu {
  transform: translateX(0);
}

body.open #side-menu-overlay {
  opacity: 1;
  z-index: 40;
}

.mobile-menu {
  @apply border-t-2 border-white;
}

.mobile-menu li {
  border-bottom: 1px solid white;
  padding: 10px 20px;
}

.mobile-menu li a {
  @apply text-white text-3xl font-light hover:opacity-70;
}

.page-numbers {
  @apply border border-gray-300 inline-flex items-center justify-center;
  font-size: 15px;
  width: 30px;
  height: 32px;
  line-height: 32px;
  margin-right: 2px;
  text-align: center;
  color: #171821;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
}

.page-numbers.current,
a.page-numbers:hover {
  background-color: #000000;
  color: #fff;
  border-color: transparent;
}

.page-numbers.current svg path,
a.page-numbers:hover svg path {
  @apply stroke-white;
}

.wpml-ls-legacy-list-horizontal {
  padding: 0;
}

.wpml-ls-legacy-list-horizontal a {
  @apply pr-[5px] pl-[5px] pt-[5px] pb-[6px] text-sm text-white;
}

.image-wrap {
  position: absolute;
  top: -350px;
  bottom: -350px;
  left: -100px;
  right: -100px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: auto;
  animation: 100s ppb_kenburns linear infinite alternate;
}

@keyframes move {
  0% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes ppb_kenburns {
  0% {
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.3) translate(-10%, 10%);
  }
}

.section-wrapper {
  @apply bg-white max-lg:p-5 lg:p-10 shadow-md;
}
.section-wrapper-full {
  @apply bg-white max-lg:p-0 lg:pt-10 shadow-md lg:px-10;
}

.social-media-icons a {
  @apply h-[40px] w-[40px] rounded-full flex items-center justify-center border border-white;
}

.social-media-icons a:hover {
  @apply bg-white;
}

.social-media-icons a:hover path {
  @apply fill-primary;
}

section.section {
  @apply max-lg:py-7 lg:py-10;
}

#footer-menu {
  @apply flex text-white flex-wrap gap-3;
}

#footer-menu li {
  @apply border border-y-0 rtl:border-l-0 ltr:border-r-0 ltr:pl-4 rtl:pr-4 ltr:pr-1 rtl:pl-1 leading-none;
}

#footer-menu li:first-child {
  @apply ltr:border-l-0 rtl:border-r-0 ltr:pl-0 rtl:pr-0;
}

#footer-menu li a,
#main-menu li a {
  @apply hover:opacity-80 text-nowrap;
}

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}
